.admin-profile-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.admin-profile-container .row {
  max-width: 1000px; /* Optional: limit max width of content */
  width: 100%;
  margin: auto;       /* center horizontally */
}

.profile-form-card,
.profile-details-card {
  min-width: 300px;   /* optional minimum width */
  max-width: 500px;   /* optional maximum width */
}

.profile-form-card form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile-form-card button,
.profile-details-card button {
  margin-top: auto; /* Stick buttons to the bottom */
}
